<a href="https://colab.research.google.com/github/Mtnxy/Datasci/blob/main/6621650493.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
x = 5
y = "John"
print(x)
print(y)

5
John

In [ ]:
x = str(3)    # x will be '3'
y = int(3)    # y will be 3
z = float(3)  # z will be 3.0

In [ ]:
x

'3'

In [ ]:
y

3

In [ ]:
z

3.0

In [ ]:
x = 5.5
print(type(x))

<class 'float'>

In [ ]:
print("Hello World!")

Hello World!

In [ ]:
print('single quote')

single quote

In [ ]:
print("hello"+"world")
print("hello"+""+"world")
print("hello","world","!","R2DE")

helloworld
helloworld
hello world ! R2DE

In [ ]:
#Int
a = 1
a

1

In [ ]:
#Float
float(a)

1.0

In [ ]:
#String
str(a)

'1'

การบวก str คือการนำ string 2 ตัวมาต่อกัน (append)

In [ ]:
str(a)+"1"

'11'

In [ ]:
print(1+2+3)

6

ถ้าตัวแปรที่จะแปลง ไม่ว่างจะได้ค่า True

In [ ]:
a

1

In [ ]:
bool(a)

True

In [ ]:
bool(0)

False

type() ตรวจสแบประเภทของตัวแปร

In [ ]:
type(a)

int

In [ ]:
b="Python!"
b

'Python!'

In [ ]:
int(b)

ValueError: invalid literal for int() with base 10: 'Python!'

list เก็บข้อมูลเป็นลำดับเหมือน arry

In [ ]:
print(a,type(a))
print(b,type(b))

1 <class 'int'>
Python! <class 'str'>

In [ ]:
empty_list=[]
print(empty_list)

[]

In [ ]:
l = [b,a,a+1,a+2]
l

['Python!', 1, 2, 3]

In [ ]:
len(l)

4

เรียกดูค่าใน list เฉพาะบางช่อง

In [ ]:
l[3]

3

การเปลี่ยนแปลง (assign)ค่า ในสมาชิกของ list

In [ ]:
l[3]=5
l

['Python!', 1, 2, 5]

ถ้าพยายามเปลี่ยนข้อมูล โดยที่ index (เลขที่ใช้อ้างอิงอันดับ เริ่มจาก 0 ) มีค่ามากกว่า

In [ ]:
l[4]=":)"

IndexError: list assignment index out of range

เพิ่มสามชิกต่อท้ายใช้ append

In [ ]:
l.append(":)")
l

['Python!', 1, 2, 5, ':)']

In [ ]:
len(l)

5

pop = remove ตัวฃสุดท้ายของ list

In [ ]:
l.pop()
l

['Python!', 1, 2, 5]

Tuple คล้ายกับ list แต่แก้ไขไม่ได้

In [ ]:
t =(0,1,2,3,4)

In [ ]:
len(t)

5

เรียกดูเป้นช่วง

In [ ]:
t[0:3]

(0, 1, 2)

การใช้เลข index สามารถข้างอิงเป็นช่วงได้โดย

In [ ]:
t[-1]

4

In [ ]:
t[-4]

1

In [ ]:
t[-3:]

(2, 3, 4)

dictionary เก็บในลักษณะ key -value

In [ ]:
dict ={"key":"value"}

In [ ]:
dict = {}

In [ ]:
grade ={
    "A" : 80,
    "B" : 70,
    "C" : 60,
    "D" : 50
}
grade

{'A': 80, 'B': 70, 'C': 60, 'D': 50}

In [ ]:
grade["A"]

80

In [ ]:
grade["B+"]=75
grade

{'A': 80, 'B': 70, 'C': 60, 'D': 50, 'B+': 75}

In [ ]:
d ={}
d["s001"] ="Perth"
d["s002"] = "Fon"

In [ ]:
d["s001"]

'Perth'

split() การแยก string ด้วย symbol ผลจะออกมาเป็น list
strip() ลบช่องว่าง หน้าหรือหลังสุด

In [ ]:
sentence =" Hello Python. I am ready. "

In [ ]:
sentence.split()

['Hello', 'Python.', ',I', 'am', 'ready.']

In [ ]:
sentence[1]

'H'

การตัดบางช่วงของ string โดยใช้เครื่องหมาย : ควบคู่กับ index ex. เริ่ม:สุดท้าย+1

In [ ]:
sentence[1:13]

'Hello Python'

In [ ]:
sentence.strip()

'Hello Python. I am ready.'

In [ ]:
list_of_words = sentence.strip().split(' ')
list_of_words

['Hello', 'Python.', 'I', 'am', 'ready.']

In [ ]:
corgi =' '.join(list_of_words)
corgi

'Hello Python. I am ready.'

Loop and Condition

In [ ]:
for temp_ver in list_or_range:
    do_something1()
    do_something2()

NameError: name 'list_or_range' is not defined

In [ ]:
l

['Python!', 1, 2, 5]

In [ ]:
for item in l:
  print(item)

Python!
1
2
5

In [ ]:
for l in range(10):
  print(l)

0
1
2
3
4
5
6
7
8
9

In [ ]:
t

NameError: name 't' is not defined

In [ ]:
list_t = [i for i in t]

In [ ]:
[i+1 for i in range(100)]

[1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99,
 100]

if condition

In [ ]:
if len(t) == 5:
  print('length is 5')
else:
    print('length not equals 5')

length is 5

In [ ]:
grade

{'A': 80, 'B': 70, 'C': 60, 'D': 50, 'B+': 75}

In [ ]:
score = 75
if score >= grade["A"]:
 print("A")
 print("Good Job!")
elif score >= grade["B+"]:
  print("B+")
elif score >= grade["B"]:
  print("B")
elif score >= grade["C"]:
  print("C")
elif score >= grade["D"]:
  print("D")
else:
  print("F")

B+

In [ ]:
import datetime
now = datetime.datetime.now()
now

datetime.datetime(2025, 1, 18, 22, 11, 47, 81169)

isoformat คือ format มาตรฐานที่นิยมใช้ใน timestamap ที่เก็บไว้ใน database / data warehouse

In [ ]:
now.isoformat()

'2025-01-18T22:11:47.081169'

In [ ]:
today = datetime.date.today()
today

datetime.date(2025, 1, 18)

yy/mm/dd

In [ ]:
today.isoformat()

'2025-01-18'

In [ ]:
import math

math.pi

3.141592653589793

In [ ]:
import math as pi

In [ ]:
pi =3.14

In [ ]:
def circle_area(radius):
  return pi * radius * radius
  circle_area(2)

In [ ]:
def rectangle_area(height,width):
   return height * width

   rectangle_area(4,5)

In [ ]:
def conversion(amount,rate =31.33):
  return amount *rate

  conversion(30)

In [ ]:
conversion(30,34.3333)

1029.999

In [ ]:
file = open("output.csv","w")
file.write("date,item,price\n")
file.write("2020-02-07,Milk,26.5\n")
file.write("2020-02-08,Water,7\n")

19

In [ ]:
header = ("date","item","price")
",".join(header)+"\n"

'date,item,price\n'

In [ ]:
header = ("date","item","price")
content = [
    ("2020-02-07","Milk","26.5"),
    ("2020-02-08","Water","7"),
    ("2020-02-08","Mask","20"),
    ("2020-02-08","Lay","10"),
    ("2020-02-08","Rice","6"),
]

file = open('products.csv','w')
file.write(",".join(header)+"\n")

for row in content:
  file.write(",".join(row) +"\n")

file.close()

In [ ]:
with open("products.csv","r" ) as f:
  product = f.readlines()

product

['date,item,price\n',
 '2020-02-07,Milk,26.5\n',
 '2020-02-08,Water,7\n',
 '2020-02-08,Mask,20\n',
 '2020-02-08,Lay,10\n',
 '2020-02-08,Rice,6\n']

In [ ]:
len(product)

6

In [ ]:
import pandas as pd
df = pd.read_csv("sample_data/california_housing_test.csv")
df

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
0,-122.05,37.37,27.0,3885.0,661.0,1537.0,606.0,6.6085,344700.0
1,-118.30,34.26,43.0,1510.0,310.0,809.0,277.0,3.5990,176500.0
2,-117.81,33.78,27.0,3589.0,507.0,1484.0,495.0,5.7934,270500.0
3,-118.36,33.82,28.0,67.0,15.0,49.0,11.0,6.1359,330000.0
4,-119.67,36.33,19.0,1241.0,244.0,850.0,237.0,2.9375,81700.0
...,...,...,...,...,...,...,...,...,...
2995,-119.86,34.42,23.0,1450.0,642.0,1258.0,607.0,1.1790,225000.0
2996,-118.14,34.06,27.0,5257.0,1082.0,3496.0,1036.0,3.3906,237200.0
2997,-119.70,36.30,10.0,956.0,201.0,693.0,220.0,2.2895,62000.0
2998,-117.12,34.10,40.0,96.0,14.0,46.0,14.0,3.2708,162500.0
2999,-119.63,34.42,42.0,1765.0,263.0,753.0,260.0,8.5608,500001.0

In [ ]:
type(df)

pandas.core.frame.DataFrame

In [ ]:
df.to_csv("new_data.csv")

In [ ]:
grade

{'A': 80, 'B': 70, 'C': 60, 'D': 50}

In [ ]:
import json
json.dumps(grade)

'{"A": 80, "B": 70, "C": 60, "D": 50}'

In [ ]:
type(json.dumps(grade))

str

In [ ]:
#Save to output grade.json
json.dump(grade,open("grade.json","w"))

JSON load = import JSON

In [ ]:
students = json.loads('{"stusen1":"Perth","student2":"Fon"}')
students

{'stusen1': 'Perth', 'student2': 'Fon'}

In [ ]:
type(students)

dict

bool ถ้ามีค่าจะเป็น true ทั้งหมด ถ้าว่างจะ false

In [ ]:
bool("False")

True

literal_eval ใน ast เพื่อแปลงค่าที่ถูกต้อง

In [ ]:
import ast
ast.literal_eval("False")

False

แนวคิดการออกแบบPython ใช้คำสั่ง import this เรียกดู

In [ ]:
import this

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!

In [ ]:
import pandas as pd
w_restaurant = pd.read_csv('w_restaurant.csv')

In [ ]:
w_restaurant.head(3)

,id,name,domain_id,closed,city_name,zipcode,geohash,new_open,weighted_average_rating,number_of_chains,...,good_for_groups,good_for_kids,bookable,best_of_wongnai,wifi,number_of_seats,music_venue,hotel_restaurant,pet_friendly,delivery
0,2,นครินทร์ทันตกรรม,2,0,Samut Songkhram,75000,w4rh7g3,0,5.0,NaN,...,NaN,NaN,NaN,NaN,NaN,13.0,NaN,NaN,NaN,NaN
1,4,Corner House,1,0,Bangkok Metropolitan Region,12150,w4rx73h,0,2.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,5,วัดโลกยสุธาราม,4,0,Phra Nakhon Si Ayutthaya,13000,w4x98jk,0,4.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
#ขนาด dataset
print(w_restaurant.shape)

(246847, 32)

In [ ]:
#การ projection (เลือกคอลัม)

select_colum = ['id','name','weighted_average_rating']
w_restaurant_projrction  = w_restaurant.loc[:,select_colum]
w_restaurant_projrction.head(5)

   id              name  weighted_average_rating
0   2  นครินทร์ทันตกรรม                 5.000000
1   4      Corner House                 2.000000
2   5    วัดโลกยสุธาราม                 4.000000
3   6    นันท์คาราโอเกะ                 0.000000
4   7       Buono Caffe                 3.738462

In [ ]:
print(w_restaurant.columns)

Index(['id', 'name', 'domain_id', 'closed', 'city_name', 'zipcode', 'geohash',
       'new_open', 'weighted_average_rating', 'number_of_chains',
       'number_of_bookmarks', 'number_of_reviews', 'number_of_product_tags',
       'total_number_of_views', 'number_of_checkins', 'number_of_menu_groups',
       'number_of_menu_photos', 'category_name', 'price_range', 'avg_price',
       'parking', 'credit_card_accepted', 'good_for_groups', 'good_for_kids',
       'bookable', 'best_of_wongnai', 'wifi', 'number_of_seats', 'music_venue',
       'hotel_restaurant', 'pet_friendly', 'delivery'],
      dtype='object')

เลือกเฉพาะคนรีวิวมากกว่า 10 คน (number_of_reviews > 10)

In [ ]:
condition = w_restaurant['number_of_reviews']>10
w_restaurant_selection = w_restaurant.loc[condition,:]
print(w_restaurant_selection)
w_restaurant_selection.head(10)

            id                          name  domain_id  closed  \
11          27               แพอาหารธาราบุรี          1       0
16          34                       Mott 32          1       0
29          52               A Day in Summer          1       0
60         111  เต-ชา ก๋วยเตี๋ยวไข่ไดโนเสาร์          1       0
67         123                   เล็กกุ้งเผา          1       0
...        ...                           ...        ...     ...
246721  339785                   Abelle cafe          1       0
246782  339917                 CoCoICHIBANYA          1       0
246800  339946                  Jeffer Steak          1       0
246802  339955                           Gaa          1       0
246842  340068                    Sushi Tama          1       0

                          city_name  zipcode  geohash  new_open  \
11                     Kanchanaburi  71000.0  w4qzbb4         0
16                  New Territories      NaN  wecnvb0         0
29      Bangkok Metropolitan Region  10600.0  w4rqnwh         0
60                       Chiang Mai      NaN  w5qqhjs         0
67      Bangkok Metropolitan Region  10310.0  w4rw9mc         0
...                             ...      ...      ...       ...
246721  Bangkok Metropolitan Region  10330.0  w4rqpvj         0
246782                    Chon Buri      NaN  w4rfbtp         0
246800  Bangkok Metropolitan Region      NaN  w1pry8f         0
246802  Bangkok Metropolitan Region    10330  w4rqpuu         0
246842  Bangkok Metropolitan Region    11130  w4rqtcb         0

        weighted_average_rating  number_of_chains  ...  good_for_groups  \
11                     3.568245               NaN  ...              1.0
16                     4.513072               NaN  ...              NaN
29                     3.392344               NaN  ...              NaN
60                     3.984000               NaN  ...              1.0
67                     3.685552               NaN  ...              NaN
...                         ...               ...  ...              ...
246721                 3.726648               NaN  ...              NaN
246782                 3.505263               NaN  ...              1.0
246800                 3.548023              87.0  ...              1.0
246802                 4.103250               NaN  ...              1.0
246842                 3.663522               3.0  ...              0.0

        good_for_kids  bookable  best_of_wongnai  wifi  number_of_seats  \
11                1.0       1.0              NaN   NaN              2.0
16                NaN       NaN              NaN   NaN              NaN
29                NaN       NaN              NaN   1.0              NaN
60                1.0       0.0              NaN   1.0              2.0
67                NaN       NaN              NaN   NaN              NaN
...               ...       ...              ...   ...              ...
246721            NaN       NaN              NaN   NaN              4.0
246782            1.0       0.0              NaN   NaN              NaN
246800            1.0       NaN              NaN   NaN              NaN
246802            NaN       1.0              NaN   NaN              2.0
246842            1.0       0.0              NaN   0.0              NaN

        music_venue hotel_restaurant  pet_friendly  delivery
11              NaN              NaN           NaN       NaN
16              NaN              NaN           NaN       NaN
29              NaN              NaN           NaN       NaN
60              0.0              0.0           0.0       0.0
67              NaN              NaN           NaN       NaN
...             ...              ...           ...       ...
246721          NaN              NaN           NaN       NaN
246782          NaN              NaN           NaN       NaN
246800          NaN              NaN           NaN       NaN
246802          0.0              0.0           NaN       0.0
246842          NaN              NaN           NaN       NaN

[18692 rows x 32 columns]

,id,name,domain_id,closed,city_name,zipcode,geohash,new_open,weighted_average_rating,number_of_chains,...,good_for_groups,good_for_kids,bookable,best_of_wongnai,wifi,number_of_seats,music_venue,hotel_restaurant,pet_friendly,delivery
11,27,แพอาหารธาราบุรี,1,0,Kanchanaburi,71000.0,w4qzbb4,0,3.568245,NaN,...,1.0,1.0,1.0,NaN,NaN,2.0,NaN,NaN,NaN,NaN
16,34,Mott 32,1,0,New Territories,NaN,wecnvb0,0,4.513072,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,52,A Day in Summer,1,0,Bangkok Metropolitan Region,10600.0,w4rqnwh,0,3.392344,NaN,...,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN
60,111,เต-ชา ก๋วยเตี๋ยวไข่ไดโนเสาร์,1,0,Chiang Mai,NaN,w5qqhjs,0,3.984000,NaN,...,1.0,1.0,0.0,NaN,1.0,2.0,0.0,0.0,0.0,0.0
67,123,เล็กกุ้งเผา,1,0,Bangkok Metropolitan Region,10310.0,w4rw9mc,0,3.685552,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
91,175,ใต้ต้นมะม่วง,1,0,Phuket,83000,w1muz5d,0,3.857143,NaN,...,1.0,1.0,0.0,NaN,0.0,2.0,NaN,NaN,NaN,NaN
92,178,เจ๊แดง หนองกลางแตง,1,0,Ratchaburi,70120.0,w4rjb7c,0,3.626943,NaN,...,1.0,1.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
94,180,ตลาดน้ำตลิ่งชัน,1,0,Bangkok Metropolitan Region,10700.0,w4rqq6b,0,3.626556,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
114,224,สเต็กลุงหนวด,1,0,Bangkok Metropolitan Region,10120.0,w4rmwyw,0,3.744000,98.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
129,262,Oniku Shabushabu & Yakiniku,1,0,Surat Thani,84000,w1weuxg,0,3.633588,NaN,...,1.0,1.0,1.0,NaN,1.0,5.0,NaN,0.0,NaN,1.0

In [ ]:
select_column = ['id','name','city_name']
w_restaurant_projrction = w_restaurant.loc[:,select_column]
w_restaurant_selection.head(10)

,id,name,domain_id,closed,city_name,zipcode,geohash,new_open,weighted_average_rating,number_of_chains,...,good_for_groups,good_for_kids,bookable,best_of_wongnai,wifi,number_of_seats,music_venue,hotel_restaurant,pet_friendly,delivery
11,27,แพอาหารธาราบุรี,1,0,Kanchanaburi,71000.0,w4qzbb4,0,3.568245,NaN,...,1.0,1.0,1.0,NaN,NaN,2.0,NaN,NaN,NaN,NaN
16,34,Mott 32,1,0,New Territories,NaN,wecnvb0,0,4.513072,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,52,A Day in Summer,1,0,Bangkok Metropolitan Region,10600.0,w4rqnwh,0,3.392344,NaN,...,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN
60,111,เต-ชา ก๋วยเตี๋ยวไข่ไดโนเสาร์,1,0,Chiang Mai,NaN,w5qqhjs,0,3.984000,NaN,...,1.0,1.0,0.0,NaN,1.0,2.0,0.0,0.0,0.0,0.0
67,123,เล็กกุ้งเผา,1,0,Bangkok Metropolitan Region,10310.0,w4rw9mc,0,3.685552,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
91,175,ใต้ต้นมะม่วง,1,0,Phuket,83000,w1muz5d,0,3.857143,NaN,...,1.0,1.0,0.0,NaN,0.0,2.0,NaN,NaN,NaN,NaN
92,178,เจ๊แดง หนองกลางแตง,1,0,Ratchaburi,70120.0,w4rjb7c,0,3.626943,NaN,...,1.0,1.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
94,180,ตลาดน้ำตลิ่งชัน,1,0,Bangkok Metropolitan Region,10700.0,w4rqq6b,0,3.626556,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
114,224,สเต็กลุงหนวด,1,0,Bangkok Metropolitan Region,10120.0,w4rmwyw,0,3.744000,98.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
129,262,Oniku Shabushabu & Yakiniku,1,0,Surat Thani,84000,w1weuxg,0,3.633588,NaN,...,1.0,1.0,1.0,NaN,1.0,5.0,NaN,0.0,NaN,1.0

In [ ]:
#เงื่อนไข
#1.ขึ้นต้นด้วย
#2.ลงท้ายด้วย
#.มีคำว่า ...อยุ่ในชื่อ

#ex

condition = w_restaurant['name'].str.startswith('ข้าวหมูแดง')
w_restaurant_select = w_restaurant.loc[condition,:]
print(w_restaurant_select.shape)
w_restaurant_select.head(10)

In [ ]:
#ขึ้นต้นด้วยnakhon
condition = w_restaurant['city_name'].str.startswith('Nakhon')
w_restaurant_select = w_restaurant.loc[condition,:]
print(w_restaurant_select.shape)
w_restaurant_select.head(4)

In [ ]:
condition = w_restaurant['name'].str.endswith('ดงมูลเหล็ก')
w_restaurant_select = w_restaurant.loc[condition,:]
print(w_restaurant_select.shape)
w_restaurant_select.head(4)

In [ ]:
condition = w_restaurant['name'].str.contains('ขาหมู')
w_restaurant_select = w_restaurant.loc[condition,:]
print(w_restaurant_select.shape)
w_restaurant_select.head(4)

In [ ]:
#หาร้านที่มีค่าว่าง
condition =w_restaurant['zipcode'].notna()
w_restaurant_select = w_restaurant.loc[condition,:]
print(w_restaurant_select.shape)
w_restaurant_select.head(6)

In [ ]:
condition =w_restaurant['zipcode'].isna()
w_restaurant_select = w_restaurant.loc[condition,:]
print(w_restaurant_select.shape)
w_restaurant.head(7)

In [ ]:
#การเชื่อมเงื่อนไข
#หาร้านที่มีเงื่อนไข 2 อย่าง
#1. zipcode ไม่ว่าง
#2. และมีเลข 60 อยุ่ใน zipcode
condition1 = w_restaurant['zipcode'].notna()
condition2 =w_restaurant['zipcode'].str.contains('60')
condition =condition1 & condition2
w_restaurant_select = w_restaurant.loc[condition,:]
print(w_restaurant_select.shape)
w_restaurant_select.head(6)

In [ ]:
print(w_restaurant.columns)

In [ ]:
condition1 = w_restaurant['weighted_average_rating'] >=2
condition2 = w_restaurant['weighted_average_rating'] <= 4
condition =condition1 & condition2

หelect_column = ['id','name','weighted_average_rating']
w_restaurant_select = w_restaurant.loc[condition,select_column]
w_restaurant.head(5)

In [ ]:
condition1 = w_restaurant['city_name'] == 'กรุงเทพ'
condition2 = w_restaurant['zipcode'] == 10160

condition = condition1 & condition2
select = ['id','name','city๘ืฟทำ','zipcode']
w_restaurant = w_restaurant.loc[condition,select]
w_restaurant.head(5)

In [ ]:
hist = w_restaurant['weighted_average_rating'].hist()